<div class="card" style="max-width: 80%; margin:0 auto;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <img src="{{user.image}}" class="card-img" alt="...">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p>{{user.email}}</p>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
</div>